<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="#" class="header-nav-logo">
        <img src="/img/logo.svg" alt="Логотип CoffeeJoy" />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-menu-list-item">
          <a href="#welcome" class="header-nav-list-item-link">About us</a>
        </li>
        <li class="header-nav-menu-list-item">
          <a href="#quality" class="header-nav-list-item-link">Benefits</a>
        </li>
        <li class="header-nav-menu-list-item">
          <a href="#expirience" class="header-nav-list-item-link">Gallery</a>
        </li>
        <li class="header-nav-menu-list-item">
          <a href="#testimonials" class="header-nav-list-item-link">
            Testimonial
          </a>
        </li>
        <li class="header-nav-menu-list-item">
          <a href="#location" class="header-nav-list-item-link">Location</a>
        </li>
      </ul>
    </nav>
    <button class="header-nav-burger">
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
