<header class="header-section" id="start">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html">
        <img src="/public/logo.svg" alt="CoffeeJoy Logo" aria-label="Coffeejoy homepage"/>
      </a>
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-list-item-link link" href="#welcome">About us</a>
        </li>
        <li>
          <a class="header-nav-list-item-link link" href="#quality">Benefits</a>
        </li>
        <li>
          <a class="header-nav-list-item-link link" href="#expirience">
            Gallery
          </a>
        </li>
        <li>
          <a class="header-nav-list-item-link link" href="#testimonials">
            Testimonial
          </a>
        </li>
        <li>
          <a class="header-nav-list-item-link link" href="#location">
            Location
          </a>
        </li>
      </ul>
    </nav>
    <button
      class="header-nav-burger"
      type="button"
      data-action="toggle"
      aria-label="Toggle menu"
    >
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
