<div class="mobile-menu is-open">
  <div class="mobile-container">
    <div class="icon-and-button">
      <svg class="icon-menu" width="64" height="36">
        <use href="/src/img/icons.svg#icon-menu"></use>
      </svg>
      <button class="btn-menu-close">
        <svg class="" width="12" height="12">
          <use href="/src/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="nav-menu">
      <ul>
        <li class="nav-list-menu">
          <a href="./"> About us</a>
        </li>
        <li class="nav-list-menu">
          <a href=""> Benefits</a>
        </li>
        <li class="nav-list-menu">
          <a href="">Gallery</a>
        </li>
        <li class="nav-list-menu">
          <a href="">Testimonial</a>
        </li>
        <li class="nav-list-menu">
          <a href="">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
