<!--mobile-menu-->
<div class="mobile-menu">
  <div class="mobile-container">
    <div class="header-container icon-and-button">
      <a href="./index.html">
        <img
          src="/logo.svg"
          alt="CoffeeJoy Logo"
          aria-label="Coffeejoy homepage"
        />
      </a>
      <button class="header-nav-burger btn-menu-close">
        <svg class="" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="nav-menu">
      <ul class="nav-link">
        <li class="nav-list-menu">
          <a href="#welcome"> About us</a>
        </li>
        <li class="nav-list-menu">
          <a href="#quality"> Benefits</a>
        </li>
        <li class="nav-list-menu">
          <a href="#expirience">Gallery</a>
        </li>
        <li class="nav-list-menu">
          <a href="#testimonials">Testimonial</a>
        </li>
        <li class="nav-list-menu">
          <a href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
