<section class="section" id="welcome">
  <div class="container welcome-container">
    <div class="welcome-contant">
      <div class="contant-left">
        <p class="welcome-keyword">Welcome</ф>
        <h1 class="welcome-title">Our Journey: Passion for Quality Coffee</h1>
      </div>

      <div class="contant-right">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>

        <a href="#location" class="btn">
          <span class="btn-text">Find location</span>
            <svg class="welcome-icons" width="20" height="20">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
    </div>
    </div>




    <picture class="welcome-picture">
      <source
        media="(min-width: 1440рх)"
        srcset="
          /img/3-welcome/desk-welcome.webp    1x,
          /img/3-welcome/desk-welcome@2x.webp 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /img/3-welcome/tad-welcome.webp    1x,
          /img/3-welcome/tad-welcome@2x.webp 2x
        "
      />

      <source
        media="(max-width: 767px)"
        srcset="
          /img/3-welcome/mob-welcome.webp    1x,
          /img/3-welcome/mob-welcome@2x.webp 2x
        "
      />
      <img src="/img/3-welcome/desk-welcome.webp" alt="Generate a warm, authentic image that reflects the story and values of a specialty coffee shop. Show a barista preparing coffee with care — pouring from a kettle into a dripper or arranging freshly roasted beans. The setting is a cozy, well-lit café with wooden surfaces, plants, and coffee tools. Use soft, natural lighting and earthy tones. Focus on craftsmanship and passion, not the face. Mood: welcoming, artisanal, thoughtful." />
    </picture>
  </div>
</section>
