<section class="section" id="quality">
  <div class="container quality-container">
    <p class="qua-text">Quality</p>
    <h2 class="qua-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="qua-text-second">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="qua-list">
      <li class="qua-list-item">
        <img
          class="qua-list-img"
          srcset="
            /img/4-quality/desk-quality-1.webp    1x,
            /img/4-quality/desk-quality-1@2x.webp 2x
          "
          src="/img/4-quality/desk-quality-1.webp "
          alt="processing of coffee"
          width=""
        />
        <h3 class="qua-list-title">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="qua-list-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="qua-list-item">
        <img
          class="qua-list-img"
          srcset="
            /img/4-quality/desk-quality-2.webp    1x,
            /img/4-quality/desk-quality-2@2x.webp 2x
          "
          src="/img/4-quality/desk-quality-2.webp "
          alt="processing of coffee"
          width=""
        />
        <h3 class="qua-list-title">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="qua-list-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="qua-list-item">
        <img
          class="qua-list-img"
          srcset="
            /img/4-quality/desk-quality-3.webp    1x,
            /img/4-quality/desk-quality-3@2x.webp 2x
          "
          src="/img/4-quality/desk-quality-3.webp "
          alt="coffee atmosphere"
          width=""
        />
        <h3 class="qua-list-title">Cozy Atmosphere</h3>
        <p class="qua-list-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
