<section class="section" id="subscribe">
  <div class="container subscribe-container">
    <div class="subscribe-up-text">
      <h1 class="subscribe-titel">Join Our Coffee Community</h1>
      <p class="subscribe-text">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
    </div>
    <div class="subscribe-form-conteiner">
      <form class="form-class" action="#" method="post">
        <!-- fild for e-mail -->
        <label class="label-class">
          <input
            class="input-class"
            type="email"
            name="email-field"
            placeholder="Your Email Here"
            required
          />
        </label>

        <button class="btn btn-subscribe" type="submit">
          Subscribe
          <!-- SVG icon in button -->
          <svg class="icon-class" width="24" height="24">
            <use href="./images/icons.svg#icon-btn-icon"></use>
          </svg>
        </button>
      </form>
    </div>
    <p>By clicking Get Started, you agree to our Terms and Conditions.</p>
  </div>

  <picture class="subscribe-picture">
    <source
      media="(min-width: 1440px)"
      srcset="
        /src/img/6-subscribe/desk-subscribe.webp    1x,
        /src/img/6-subscribe/desk-subscribe@2x.webp 2x
      "
    />

    <source
      media="(min-width: 768px)"
      srcset="
        /src/img/6-subscribe/tab-subscribe.webp    1x,
        /src/img/6-subscribe/tab-subscribe@2x.webp 2x
      "
    />

    <source
      media="(max-width: 767px)"
      srcset="
        /src/img/6-subscribe/mob-subscribe.webp    1x,
        /src/img/6-subscribe/mob-subscribe@2x.webp 2x
      "
    />
    <img
      src="/src/img/6-subscribe/desk-subscribe.webp"
      loading="lazy"
      decoding="async"
      alt="illustration office vibe"
    />
  </picture>
</section>
