<section class="section" id="testimonials">
  <div class="container testimonials-container">
    <h2 class="testimonials-header">What our visitors say</h2>
    <input type="radio" name="slider2" id="reviews1" title="none" checked />
    <input type="radio" name="slider2" id="reviews2" title="none" />
    <input type="radio" name="slider2" id="reviews3" title="none" />
    <input type="radio" name="slider2" id="reviews4" title="none" />
    <input type="radio" name="slider2" id="reviews5" title="none" />
    <input type="radio" name="slider2" id="reviews6" title="none" />
    <input type="radio" name="slider2" id="reviews7" title="none" />
    <input type="radio" name="slider2" id="reviews8" title="none" />
    <ul class="testimonials-reviews-list">
      <li class="testimonials-reviews-list-item john">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <p class="testimonials-reviews-list-user">John Brzenk</p>
      </li>
      <li class="testimonials-reviews-list-item alice">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The
          ambiance is so inviting, and the baristas are always friendly."
        </p>
        <p class="testimonials-reviews-list-user">Alice Johnson</p>
      </li>
      <li class="testimonials-reviews-list-item michael">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
        </div>
        <p>
          "I love the variety of blends offered at CoffeeJoy. Every visit
          feels like a new experience!"
        </p>
        <p class="testimonials-reviews-list-user">Michael Smith</p>
      </li>
      <li class="testimonials-reviews-list-item emily">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="testimonials-reviews-list-user">Emily Davis</p>
      </li>
      <li class="testimonials-reviews-list-item james">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          </svg>
        </div>
        <p>
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <p class="testimonials-reviews-list-user">James Brown</p>
      </li>
      <li class="testimonials-reviews-list-item sarah">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "The atmosphere is perfect for working or relaxing with friends.
          Their Wi-Fi is fast too!"
        </p>
        <p class="testimonials-reviews-list-user">Sarah Wilson</p>
      </li>
      <li class="testimonials-reviews-list-item chris">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "I’m addicted to their seasonal flavors! Each one is crafted with
          such care and creativity."
        </p>
        <p class="testimonials-reviews-list-user">Chris Lee</p>
      </li>
      <li class="testimonials-reviews-list-item patricia">
        <div class="testimonials-reviews-list-icons">
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="testimonials-star-outline" width="20" height="19" role="img" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="testimonials-reviews-list-user">Patricia Taylor</p>
      </li>
    </ul>
    <div class="customers-slider-nav">
      <label for="reviews1"></label>
      <label for="reviews2"></label>
      <label for="reviews3"></label>
      <label for="reviews4"></label>
      <label for="reviews5"></label>
      <label for="reviews6"></label>
      <label for="reviews7"></label>
      <label for="reviews8"></label>
    </div>
  </div>
</section>
