<section class="section" id="testimonials">
  <div class="container testimonials-container">
    <h2 class="testimonials-title">What our visitors say</h2>
    <input
      type="radio"
      name="slider-mobile"
      id="m1"
      checked
      aria-label="Slide 1"
    />
    <input type="radio" name="slider-mobile" id="m2" aria-label="Slide 2" />
    <input type="radio" name="slider-mobile" id="m3" aria-label="Slide 3" />
    <input type="radio" name="slider-mobile" id="m4" aria-label="Slide 4" />
    <input type="radio" name="slider-mobile" id="m5" aria-label="Slide 5" />
    <input type="radio" name="slider-mobile" id="m6" aria-label="Slide 6" />
    <input type="radio" name="slider-mobile" id="m7" aria-label="Slide 7" />
    <input type="radio" name="slider-mobile" id="m8" aria-label="Slide 8" />
    <ul class="testimonials-card-list">
      <li class="card bred">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p>
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <p class="testimonial-name">Brad Pitt</p>
      </li>
      <li class="card alice">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <p class="testimonial-name">Alice Johnson</p>
      </li>
      <li class="card michael">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <p class="testimonial-name">Michael Smith</p>
      </li>
      <li class="card emily">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="testimonial-name">Emily Davis</p>
      </li>
      <li class="card james">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <p class="testimonial-name">James Brown</p>
      </li>
      <li class="card sarah">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <p class="testimonial-name">Sarah Wilson</p>
      </li>
      <li class="card chris">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "I’m addicted to their seasonal flavors! Each one is crafted with such
          care and creativity."
        </p>
        <p class="testimonial-name">Chris Lee</p>
      </li>
      <li class="card patricia">
        <div class="rating">
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="star-outline" width="20" height="19" aria-hidden="true">
            <use href="/img/icons.svg#icon-star-outline"></use>
          </svg>
        </div>
        <p class="text-testimonials">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="testimonial-name">Patricia Taylor</p>
      </li>
    </ul>
    <div class="customers-slider-nav mobile-nav">
      <label for="m1"></label>
      <label for="m2"></label>
      <label for="m3"></label>
      <label for="m4"></label>
      <label for="m5"></label>
      <label for="m6"></label>
      <label for="m7"></label>
      <label for="m8"></label>
    </div>
  </div>
</section>
