<footer class="footer">
  <div class="container footer-container">
    <div class="footer-container-flex">
      <div class="footer-top">
        <a
          class="footer-link-mainpage"
          href="./index.html"
          aria-label="Coffeejoy homepage"
        >
          <svg
            class="footer-logo"
            width="196"
            height="84"
            role="img"
            aria-hidden="true"
          >
            <use href="/img/icons.svg#icon-logo-footer"></use>
          </svg>
        </a>
        <ul class="footer-socials-list">
          <li class="footer-socials-list-item">
            <a
              class="footer-social-link"
              href="https://facebook.com"
              rel="noopener noreferrer"
              aria-label="Link Facebook"
              target="_blank"
            >
              <svg
                class="footer-social-link-icon"
                width="32"
                height="32"
                role="img"
                aria-hidden="true"
              >
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com"
              rel="noopener noreferrer"
              aria-label="Limk Instagram"
              target="_blank"
            >
              <svg
                class="footer-social-link-icon"
                width="32"
                height="32"
                role="img"
                aria-hidden="true"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a
              class="footer-social-link"
              href="https://x.com"
              rel="noopener noreferrer"
              aria-label="LinkTwitter"
              target="_blank"
            >
              <svg
                class="footer-social-link-icon"
                width="32"
                height="32"
                role="img"
                aria-hidden="true"
              >
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item">
          <a href="#welcome" aria-label="Start from abous us">About us</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#quality">Benefits</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#expirience" aria-label="Start our expirience">Gallery</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#testimonials" aria-label="Start from testimonials"
            >Testimonial</a
          >
        </li>
        <li class="footer-navigation-list-item">
          <a href="#location" aria-label="Get our location">Location</a>
        </li>
      </ul>
    </div>
    <p class="footer-copy-text">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
