<footer class="footer">
  <div class="container footer-container">
    <div class="footer-container-flex">
      <div class="footer-top">
        <a
          class="footer-link-mainpage"
          href="https://textterrion.github.io/teamwork-html-css/"
          aria-label="Coffeejoy homepage"
        >
          <svg
            class="footer-logo"
            width="147"
            height="85"
            role="img"
            aria-hidden="true"
          >
            <use href="/img/icons.svg#icon-logo-footer"></use>
          </svg>
        </a>
        <ul class="footer-socials-list">
          <li class="footer-socials-list-item">
            <a
              href="https://facebook.com"
              rel="noopener noreferrer"
              aria-label="Facebook"
              target="_blank"
            >
              <svg class="" width="32" height="32" role="img" aria-hidden="true">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a
              href="https://www.instagram.com"
              rel="noopener noreferrer"
              aria-label="Instagram"
              target="_blank"
            >
              <svg class="" width="32" height="32" role="img" aria-hidden="true">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a
              href="https://x.com"
              rel="noopener noreferrer"
              aria-label="Twitter"
              target="_blank"
            >
              <svg class="" width="32" height="32" role="img" aria-hidden="true">
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div class="footer-top">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item">
          <a href="#welcome">About us</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#quality">Benefits</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#expirience">Gallery</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#testimonials">Testimonial</a>
        </li>
        <li class="footer-navigation-list-item">
          <a href="#location">Location</a>
        </li>
      </ul>
    </div>
    <div class="footer-copy">
      <p class="footer-copy-text">
        &copy; 2025 CoffeeJoy. All rights reserved.
      </p>
    </div>
  </div>
</footer>
