<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <a
        href="https://textterrion.github.io/teamwork-html-css/"
        title="Coffeejoy"
      >
        <svg class="" width="145.87" height="83.68">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul>
        <li>
          <a
            href="https://facebook.com"
            rel="noopener noreferrer"
            aria-label="Facebook"
            target="_blank"
          >
            <svg class="" width="32" height="32">
              <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com"
            rel="noopener noreferrer"
            aria-label="Instagram"
            target="_blank"
          >
            <svg class="" width="32" height="32">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://x.com"
            rel="noopener noreferrer"
            aria-label="Twitter"
            target="_blank"
          >
            <svg class="" width="32" height="32">
              <use href="../img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#welcome">About us</a>
        </li>
        <li>
          <a href="#quality">Benefits</a>
        </li>
        <li>
          <a href="#expirience">Gallery</a>
        </li>
        <li>
          <a href="#testimonials">Testimonial</a>
        </li>
        <li>
          <a href="#location">Location</a>
        </li>
      </ul>
    </div>
    <div class="footer-copy">
      <p>&copy; 2025 CoffeeJoy. All rights reserved.</p>
    </div>
  </div>
</footer>
