.header-container {
  padding: 12px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-logo {
  width: 84px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-list {
  display: none;
}

.header-nav-burger {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-nav-list-item-link {
    padding: 12px 0;

    display: block;

    font-weight: 400;
  }

  .header-nav-burger {
    display: none;
  }
}
