.welcome-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 288px;
}

.welcome-keyword {
    margin-bottom: 16px;
}

.welcome-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
}


.welcome-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
    
}

.btn {
    width: 288px;
    height: 44px;
    margin-bottom: 32px;
}

.btn-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-right: 12px;
}

.welcome-icons {
    fill: #fff;
}

.welcome-picture img {
    max-width: 288px;
    border-radius: 40px;
}

@media screen and (min-width: 768px) {
    .welcome-contant {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 32px;
        max-width: 704px;
    }

    .btn {
        max-width: 181px;
    }


    .contant-left {
        max-width: 336px;
    }

    .contant-right {
        max-width: 336px;
    }

    .welcome-picture img {
        max-width: 704px;
    }
}

@media screen and (min-width: 1140рх) {
    .welcome-contant {
        max-width: 1312px;
    }

    .contant-left {
        max-width: 640px;
    }

    .contant-right {
        max-width: 640px;
    }

    .welcome-title {
        font-size: 48px;
    }

    .welcome-picture img {
        max-width: 1312px;
    }
}