.qua-text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

.qua-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

.qua-text-second {
  text-align: center;
  margin-bottom: 32px;
}

.qua-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.qua-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qua-list-img {
  border-radius: 32px;
  overflow: hidden;
}

.qua-list-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.qua-list-text {
  text-align: center;
  font-size: 16px;
}

/* tablet */

@media screen and (min-width: 768px) {
  .qua-title {
    max-width: 452px;
    margin: 0 auto 24px;
  }
  .qua-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  .qua-list-title {
    max-width: 284px;
    margin-bottom: 8px;
  }
  .qua-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .qua-list-item:last-child {
    flex-basis: 100%;
  }
  .qua-list-item:last-child .qua-list-text {
    max-width: 440px;
  }
  .qua-list-text {
    max-width: 292px;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .qua-title {
    font-size: 48px;
    max-width: 768px;
  }
  .qua-text-second {
    max-width: 768px;
    margin: 0 auto 32px;
  }
  .qua-list {
    align-items: start;
  }
  .qua-list-item,
  .qua-list-item:last-child {
    flex-basis: calc((100% - 48px) / 3);
  }
  .qua-list-title,
  .qua-list-text,
  .qua-list-item:last-child .qua-list-text {
    max-width: 421px;
  }
}
