.qua-text {
font-family: "Quicksand", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-bottom: 16px;
}

.qua-title {
font-family: "Aboreto", sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
color: #0b0803;
margin-bottom: 24px;
}

.qua-text-second {
font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-bottom: 32px;
}

.qua-list {  
display: flex;
flex-wrap: wrap;
gap: 24px;
align-items: center;
justify-content: center;
}

.qua-list-img {
border-radius: 32px;
width: 288px;
height: 164px;
margin-bottom: 32px;
}

.qua-list-title {
font-family: "Quicksand", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.5;
text-align: center;
color: #0b0803;
margin-bottom: 8px;
}

.qua-list-text {
font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #0b0803;
}