.expirience-title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.expirience-title ~ p {
  text-align: center;
  margin-bottom: 32px;
}

.expirience-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.exp-img {
  border-radius: 40px;
  overflow: hidden;
}

.expirience-list li {
  max-width: 343px;
  min-width: 288px;
  width: 100%;
  height: auto;
}

.expirience-list li:nth-child(3),
.expirience-list li:nth-child(4) {
  max-height: 193px;
  min-height: 162px;
}

.expirience-list li:nth-child(7) {
  min-height: 391px;
  max-height: 466px;
}

@media screen and (min-width: 768px) {
  .expirience-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .expirience-list li {
    min-width: none;
    max-width: none;
    width: 336px;
  }

  .expirience-list li:nth-child(3),
  .expirience-list li:nth-child(4) {
    height: 189px;
  }

  .expirience-list li:nth-child(7) {
    width: 100%;
     }
}

@media screen and (min-width: 1440px) {
  .expirience-list {
    flex-direction: column;
    max-height: 948px;
    gap: 32px;
  }
  .expirience-list li {
    width: 416px;
  }

  .expirience-list li:nth-child(3),
  .expirience-list li:nth-child(4) {
    min-width: 416px;
    min-height: 234px;
  }

  .expirience-list li:nth-child(7) {
    max-width: 416px;
  }
}
