.subscribe-up-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.subscribe-titel {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
}

.subscribe-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
}

.input-class {
  border-radius: 12px;
  width: 288px;
  height: 40px;
}
