.footer {
    background: var(--color-scheme-2-background);
    padding: 24px 16px;
    max-width: 375px;
    margin: 0 auto;
}

.footer-container {
    padding: 0;
    min-width: auto;
}

.footer-container-flex {
    width: 100%;
    border: 1px solid var(--color-scheme-1-border);
    border-radius: 40px;
    padding: 32px 48px;
    background: var(--color-scheme-1-foreground);
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    margin: 0 auto;
}

.footer-socials-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 32px;
    gap: 12px;
}

.footer-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-navigation-list-item a {
    font-size: 16px;
}

.footer-copy-text {
    font-size: 14px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer {
        max-width: 768px;
        padding: 24px 32px;
    }

    .footer-logo {
        width: 64px;
        height: 37px;
    }

    .footer-container-flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
    }

    .footer-top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px
    }

    .footer-socials-list {
        margin: 0;
    }

    .footer-navigation-list {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        max-width: 1440px;
        padding: 24px 64px;
    }

    .footer-top {
        margin-left: 0;
    }

    .footer-socials-list {
        margin: 0;
    }
}