*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: currentColor;
  cursor: pointer;
  font-style: normal;
  text-decoration: none;
}
button {
  border: none;
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}